/* common CSS */

body {
    margin: 0;
    padding: 0;
    background-color:#d4d1d1;
    font-family: 'Roboto', sans-serif;
    min-height:100%;
}

p {
    margin: 10px;
    line-height: 30px;
}

.my-name {
    color:white;
}

.navbar-brand {
    font-family: 'DM Serif Text', serif;
    background: rgb(48, 175, 158);
}

#about, #portfolio, #contact {  /* black font color when on the page */ 
    color:black;
}

.container {
    margin-top: 40px;
    margin-bottom: 100px;
    min-height:100vh;
    width:100%;
}

.heading {
    font-size: 40px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    color:rgb(48, 175, 158);
    padding-bottom:25px;
    font-family: 'DM Serif Text', serif;
}

.main-box {
    background:white;
    padding-bottom: 20px;
}

footer {
    bottom: 0;
    height:70px;
    width:100%;
    background:grey;
    color:darkgrey;
    text-align:center;
    line-height:70px;
    border-top: 7px rgb(48, 175, 158) solid;
}


/* profile page */

#profile-image {
    float:left;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* porfolio page */

.portfolio-image {
    margin-bottom:30px;
    width:350px;
    height:350px;
    object-fit: cover;
}

/* Contact page */

.submit-button {
    background-color: rgb(48, 175, 158);
    border: none;
    border-radius:0;
    padding: 20px 40px;

}



#contact-box {
    line-height: 30px;
}


/* responsive */


/* Medium devices (tablets, 768px and up)*/
@media only screen and (max-width: 768px) { 
    
    .portfolio-image-box {
            margin-right: 1px;
    }
     
    #contact-box {
        height: 70vh;
    }

    #contact-box-text {
        line-height: 50px;
    }

    .form-control {
        height: 60px;
    }

    #exampleFormControlTextarea1 {
        height: 150px;
    }

   

 }


/* Small devices (landscape phones, 400px and up) */
@media only screen and (max-width: 400px) {

    .main-box {
        width:90%;
        margin-left: auto;
        margin-right:auto;
    }

    .portfolio-image {
        width: 100%;
    }

    #contact-box {
        height: 70vh;
    }

    #contact-box-text {
        line-height: 30px;
    }

    .form-control {
        height:40px;
    }

    #exampleFormControlTextarea1 {
        height: 80px;
    }

   

}
